rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    match /ppssBackgroundKnowledge/{documentId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /ppssBackgroundKnowledgeArchives/{documentId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
